.topbar {
    width: 100%;
    z-index: 2000;
}
body, p {
    padding: 0px;
    margin: 0;
}
table, th , td {
    border-collapse: collapse;
}
.tr > th {
    text-align: center;
    justify-content: center;
    border: none;
    background-color: #313131;
    height: 44px;
    padding: 0;
}
.tr > th > a {
    color: #c3c3c3;
    text-decoration: none;
}
.topbar > .tr {
    width: 25%;
}
@media screen and (max-width: 601px) {
    .slogan {
        font-size: 10vw;
    }
}
@media screen and (min-width: 600px) {
    .slogan {
        font-size: 60px;
    }
}
@media screen and (min-width: 681.98px) {
    .smallerThan {
        display: none;
    }
}
@media screen and (max-width: 681px) {
    .topbar {
        display: none;
    }
}
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
/* ***************************** */
.containerimg {
    margin: 0 auto;
    margin-top: 32px;
    width: 308px;
    height: 49px;
}
.containerimg > a > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/* ***************************** */
/* ||||||||||||||||||||||||||||| */
.fukend {
    background-color: #c8c8c8;
    width: 100%;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}
footer {
    padding: 10px;
    height: auto;
    background-color: #e9e9e9;
    vertical-align: middle;
    text-align: center;
}
@media screen and (max-width: 346px) {
    .fukend > footer > a > button {
        margin-bottom: 5px;
    }
    .fukend > footer > a {
        margin-bottom: 15px;
    }
}